html{margin:0;padding:0;width:100%}@media only screen and (min-width:1900px){html{text-align:center;;margin:0 50%;alignment-adjust:central;width:1320px}body{width:100%;}}
a,p{color:#A1C1F1}body{background-color:#fff;background-attachment:fixed;margin:0;padding:0;width:100%;color:#073E90}p,h1,h2,h3{font-family:Times-Roman}
.armacao .corpo23{width:100%;min-height:100px;float:left;margin:0 0 0 10px}
.pri{color:#0000CD;font-size:40px;width:100%;}
a.pri:hover{color:#ff0000;text-decoration:none;}.sec{background-color:#F5F5F5;font-size:25px;color:#999}a.sec{font-size:25px;color:#0000CD}
a.sec:hover{color:#f00;text-decoration:none;}.corpo23 p{font:15px cursive;color:#000;width:100%}
.corpo23 h1{font-style:oblique;color:#191DA7;float:left}
.corpo23 input,textArea,select,option{float:left;width:30%}
.corpo23 label{float:left;width:100%}.menuContainer{width:14%;float:left;padding:0;margin:0;font:bold .8em arial;}
.propaganda{width:20%;max-width:500px;background-color:#073E90;float:right;font-family:arial;font-weight:700;margin:0;min-height:5.95em}
.post{float:left;width:65%}.post h2{float:left;text-align:center;color:#f0f0f0;display:block;margin:0 auto}
.post img.titulo{float:left;max-height:900px;max-width:100%;margin:0 auto;display:block;text-align:center;}
.post p{float:left;color:#000;font-size:0.8em;min-width:70%;margin:14px}
.post p.post1234567{width:10%;margin:0;padding:0;color:#000}.post a{text-decoration:none;color:#0000bb;font-size:1.5em}
.post h2{float:left;width:100%;color:#000;font-size:1.8em}.post img.post1234567{max-width:50%;float:left;max-height:800px;margin:10px}
label{float:left;display:block}.evento img{height:90px;width:150px;}
.evento{float:left;min-height:200px;width:100%;margin:4px 0 0px 0;}
.evento p{color:#000A0F;min-height:10%;width:100%}.evento a{text-decoration:none;color:#0000CD;;height:10%;width:100%}
.evento span{color:#000;font-family:verdana;font-size:12px;width:100%}
.rodape{width:100%;min-height:17px;background-color:#000;color:#FFF;text-align:center;clear:both;border-radius:0 0 10px 10px}
textarea{box-sizing:border-box;height:100%;width:100%}
.omeganovo2{float:left;width:100%}.omeganovo{float:left;width:100%}.novo{float:left;width:100%}.novo div{width:30%;float:left}.omeganovo div{width:30%;float:left}.omeganovo input,label,textArea{float:left;width:20%;min-width:200px}
.novo input,label,textArea{float:left;width:20%;min-width:200px}.omeganovo2 div{width:30%;float:left}
.omeganovo2 input,label,textArea{float:left;width:20%;min-width:200px}.FACEcomentar{float:left;width:40%;margin:0}.bot{float:left;width:40%;height:100px;margin:20px 0}
.CONTADOR{float:left;width:100%;background-color:#073E90}.CONTADOR p{color:#FFF;font-size:1em;text-align:center}
.CONTADOR p:hover{color:#a11717}.propaganda2logos{width:100%;float:left;margin:0}.propaganda2logos a{text-decoration:none;margin:0}.propaganda2logos img{width:20%;height:30px;margin:0}
.cabecalho{width:100%;height:5em;background-color:#0000CD;text-align:center;;float:left;margin-bottom:.438em;}
.cabecalho img{height:4.125em;margin:.188em;float:left}.cabecalho .info{width:80%;height:100px;margin:.1em .2em;float:left}
.cabecalho .info h1{font-size:2em;color:#000;margin:0;padding:0}
.cabecalho .info span{font-size:.75em;color:#fff}.parceiros{width:100%;float:left;margin-top:150px}
.parceiros h1{width:100%;float:left;font-size:1.8em;color:#0000CD;}
.parceiros p{width:15%;float:left;margin:0 20px;display:block}.propaganda .parceiros p{width:49%;float:left;margin:0}
.agregados{float:left;width:100%;}.agregados img{width:100%;max-width:150px;}
.propaganda .parceiros{width:100%;float:left;margin-top:150px}
.propaganda .parceiros p{display:block}.propaganda .parceiros p a img{margin:2px;width:100%}
.propaganda .parceiros h1{width:100%;float:left;font-size:22px;color:#ccc}
@media only screen and (max-width:700px){.parceiros p{width:100%}.propaganda .parceiros h1{font-size:0.8em}
.merchan{width:100%;float:left;margin-bottom:100px}.merchan h1{width:100%;float:left;color:#0000CD;margin:5px;font-size:1.8em}
.merchan p{float:left;width:100%;color:#000}.merchan a{color:#054874}a:hover{text-decoration:none}
.merchan div,textArea{float:left;width:50%;text-align:center;margin:5px}@media only screen and (min-width:100px) and (max-width:612px){body{width:100%}}
@media only screen and (min-width:613px)and (max-width:1000px){.armacao{width:100%}}
@media only screen and (max-height:1050px){.conteudo{min-height:100%}}
@media only screen and (max-width:930px){.propaganda{min-height:20EM}.none{display:none}.FACEcomentar{display:none}
.propaganda .parceiros p{display:block}.propaganda .parceiros p a img{width:100%}
.propaganda .bot{display:none}.rodape{min-height:30px}}
@media only screen and (max-width:499px){.cabecalho .info{width:80%;height:100px;margin:.25em .26em;float:left}.cabecalho .info h1{font-size:.7em;margin:0;padding:0}.cabecalho .info span{font-size:.563em}.cabecalho img{height:2.125em;margin:.188em;float:left}.modal{display:none}.btn{display:none}}
.button2{border-top:1px solid #3f4142;background:#313436;background:-webkit-gradient(linear, left top, left bottom, from(#8aa0ad), to(#313436));background:-webkit-linear-gradient(top, #8aa0ad, #313436);background:-moz-linear-gradient(top, #8aa0ad, #313436);background:-ms-linear-gradient(top, #8aa0ad, #313436);background:-o-linear-gradient(top, #8aa0ad, #313436);padding:2.5px 5px;-webkit-border-radius:40px;-moz-border-radius:40px;border-radius:40px;-webkit-box-shadow:rgba(0,0,0,1) 0 1px 0;-moz-box-shadow:rgba(0,0,0,1) 0 1px 0;box-shadow:rgba(0,0,0,1) 0 1px 0;text-shadow:rgba(0,0,0,.4) 0 1px 0;color:#fff;font-size:15px;font-family:Georgia, serif;text-decoration:none;vertical-align:middle;}.button2:hover{border-top-color:#000;background:#000;color:#ccc;}.button2:active{border-top-color:#a11717;background:#a11717;}}
body.stop-scrolling{height:100%;overflow:hidden}.sweet-overlay{background-color:#000;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40);background-color:rgba(0,0,0,0.4);position:fixed;left:0;right:0;top:0;bottom:0;display:none;z-index:10000}.sweet-alert{background-color:#fff;font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;width:478px;padding:17px;border-radius:5px;text-align:center;position:fixed;left:50%;top:50%;margin-left:-256px;margin-top:-200px;overflow:hidden;display:none;z-index:99999}@media all and (max-width:540px){.sweet-alert{width:auto;margin-left:0;margin-right:0;left:15px;right:15px}}.sweet-alert h2{color:#575757;font-size:30px;text-align:center;font-weight:600;text-transform:none;position:relative;margin:25px 0;padding:0;line-height:40px;display:block}.sweet-alert p{color:#797979;font-size:16px;text-align:center;font-weight:300;position:relative;text-align:inherit;float:none;margin:0;padding:0;line-height:normal}.sweet-alert fieldset{border:none;position:relative}.sweet-alert .sa-error-container{background-color:#f1f1f1;margin-left:-17px;margin-right:-17px;overflow:hidden;padding:0 10px;max-height:0;webkit-transition:padding 0.15s,max-height .15s;transition:padding 0.15s,max-height .15s}.sweet-alert .sa-error-container.show{padding:10px 0;max-height:100px;webkit-transition:padding 0.2s,max-height .2s;transition:padding 0.25s,max-height .25s}.sweet-alert .sa-error-container .icon{display:inline-block;width:24px;height:24px;border-radius:50%;background-color:#ea7d7d;color:#fff;line-height:24px;text-align:center;margin-right:3px}.sweet-alert .sa-error-container p{display:inline-block}.sweet-alert .sa-input-error{position:absolute;top:29px;right:26px;width:20px;height:20px;opacity:0;-webkit-transform:scale(0.5);transform:scale(0.5);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-transition:all .1s;transition:all .1s}.sweet-alert .sa-input-error::before,.sweet-alert .sa-input-error::after{content:"";width:20px;height:6px;background-color:#f06e57;border-radius:3px;position:absolute;top:50%;margin-top:-4px;left:50%;margin-left:-9px}.sweet-alert .sa-input-error::before{-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}.sweet-alert .sa-input-error::after{-webkit-transform:rotate(45deg);transform:rotate(45deg)}.sweet-alert .sa-input-error.show{opacity:1;-webkit-transform:scale(1);transform:scale(1)}.sweet-alert input{width:100%;box-sizing:border-box;border-radius:3px;border:1px solid #d7d7d7;height:43px;margin-top:10px;margin-bottom:17px;font-size:18px;box-shadow:inset 0 1px 1px rgba(0,0,0,0.06);padding:0 12px;display:none;-webkit-transition:all .3s;transition:all .3s}.sweet-alert input:focus{outline:none;box-shadow:0 0 3px #c4e6f5;border:1px solid #b4dbed}.sweet-alert input:focus::-moz-placeholder{transition:opacity .3s .03s ease;opacity:.5}.sweet-alert input:focus:-ms-input-placeholder{transition:opacity .3s .03s ease;opacity:.5}.sweet-alert input:focus::-webkit-input-placeholder{transition:opacity .3s .03s ease;opacity:.5}.sweet-alert input::-moz-placeholder{color:#bdbdbd}.sweet-alert input:-ms-input-placeholder{color:#bdbdbd}.sweet-alert input::-webkit-input-placeholder{color:#bdbdbd}.sweet-alert.show-input input{display:block}.sweet-alert .sa-confirm-button-container{display:inline-block;position:relative}.sweet-alert .la-ball-fall{position:absolute;left:50%;top:50%;margin-left:-27px;margin-top:4px;opacity:0;visibility:hidden}.sweet-alert button{background-color:#8CD4F5;color:#fff;border:none;box-shadow:none;font-size:17px;font-weight:500;-webkit-border-radius:4px;border-radius:5px;padding:10px 32px;margin:26px 5px 0;cursor:pointer}.sweet-alert button:focus{outline:none;box-shadow:0 0 2px rgba(128,179,235,0.5),inset 0 0 0 1px rgba(0,0,0,0.05)}.sweet-alert button:hover{background-color:#7ecff4}.sweet-alert button:active{background-color:#5dc2f1}.sweet-alert button.cancel{background-color:#C1C1C1}.sweet-alert button.cancel:hover{background-color:#b9b9b9}.sweet-alert button.cancel:active{background-color:#a8a8a8}.sweet-alert button.cancel:focus{box-shadow:rgba(197,205,211,0.8) 0 0 2px,rgba(0,0,0,0.0470588) 0 0 0 1px inset!important}.sweet-alert button[disabled]{opacity:.6;cursor:all-scroll}.sweet-alert button.confirm[disabled]{color:transparent}.sweet-alert button.confirm[disabled] ~ .la-ball-fall{opacity:1;visibility:visible;transition-delay:0}.sweet-alert button::-moz-focus-inner{border:0}.sweet-alert[data-has-cancel-button=false] button{box-shadow:none!important}.sweet-alert[data-has-confirm-button=false][data-has-cancel-button=false]{padding-bottom:40px}.sweet-alert .sa-icon{width:80px;height:80px;border:4px solid gray;-webkit-border-radius:40px;border-radius:40px;border-radius:50%;margin:20px auto;padding:0;position:relative;box-sizing:content-box}.sweet-alert .sa-icon.sa-error{border-color:#F27474}.sweet-alert .sa-icon.sa-error .sa-x-mark{position:relative;display:block}.sweet-alert .sa-icon.sa-error .sa-line{position:absolute;height:5px;width:47px;background-color:#F27474;display:block;top:37px;border-radius:2px}.sweet-alert .sa-icon.sa-error .sa-line.sa-left{-webkit-transform:rotate(45deg);transform:rotate(45deg);left:17px}.sweet-alert .sa-icon.sa-error .sa-line.sa-right{-webkit-transform:rotate(-45deg);transform:rotate(-45deg);right:16px}.sweet-alert .sa-icon.sa-warning{border-color:#F8BB86}.sweet-alert .sa-icon.sa-warning .sa-body{position:absolute;width:5px;height:47px;left:50%;top:10px;-webkit-border-radius:2px;border-radius:2px;margin-left:-2px;background-color:#F8BB86}.sweet-alert .sa-icon.sa-warning .sa-dot{position:absolute;width:7px;height:7px;-webkit-border-radius:50%;border-radius:50%;margin-left:-3px;left:50%;bottom:10px;background-color:#F8BB86}.sweet-alert .sa-icon.sa-info{border-color:#C9DAE1}.sweet-alert .sa-icon.sa-info::before{content:"";position:absolute;width:5px;height:29px;left:50%;bottom:17px;border-radius:2px;margin-left:-2px;background-color:#C9DAE1}.sweet-alert .sa-icon.sa-info::after{content:"";position:absolute;width:7px;height:7px;border-radius:50%;margin-left:-3px;top:19px;background-color:#C9DAE1}.sweet-alert .sa-icon.sa-success{border-color:#A5DC86}.sweet-alert .sa-icon.sa-success::before,.sweet-alert .sa-icon.sa-success::after{content:'';-webkit-border-radius:40px;border-radius:40px;border-radius:50%;position:absolute;width:60px;height:120px;background:#fff;-webkit-transform:rotate(45deg);transform:rotate(45deg)}.sweet-alert .sa-icon.sa-success::before{-webkit-border-radius:120px 0 0 120px;border-radius:120px 0 0 120px;top:-7px;left:-33px;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);-webkit-transform-origin:60px 60px;transform-origin:60px 60px}.sweet-alert .sa-icon.sa-success::after{-webkit-border-radius:0 120px 120px 0;border-radius:0 120px 120px 0;top:-11px;left:30px;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);-webkit-transform-origin:0 60px;transform-origin:0 60px}.sweet-alert .sa-icon.sa-success .sa-placeholder{width:80px;height:80px;border:4px solid rgba(165,220,134,0.2);-webkit-border-radius:40px;border-radius:40px;border-radius:50%;box-sizing:content-box;position:absolute;left:-4px;top:-4px;z-index:2}.sweet-alert .sa-icon.sa-success .sa-fix{width:5px;height:90px;background-color:#fff;position:absolute;left:28px;top:8px;z-index:1;-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}.sweet-alert .sa-icon.sa-success .sa-line{height:5px;background-color:#A5DC86;display:block;border-radius:2px;position:absolute;z-index:2}.sweet-alert .sa-icon.sa-success .sa-line.sa-tip{width:25px;left:14px;top:46px;-webkit-transform:rotate(45deg);transform:rotate(45deg)}.sweet-alert .sa-icon.sa-success .sa-line.sa-long{width:47px;right:8px;top:38px;-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}.sweet-alert .sa-icon.sa-custom{background-size:contain;border-radius:0;border:none;background-position:center center;background-repeat:no-repeat}@-webkit-keyframes showSweetAlert{0%{transform:scale(0.7);-webkit-transform:scale(0.7)}45%{transform:scale(1.05);-webkit-transform:scale(1.05)}80%{transform:scale(0.95);-webkit-transform:scale(0.95)}100%{transform:scale(1);-webkit-transform:scale(1)}}@keyframes showSweetAlert{0%{transform:scale(0.7);-webkit-transform:scale(0.7)}45%{transform:scale(1.05);-webkit-transform:scale(1.05)}80%{transform:scale(0.95);-webkit-transform:scale(0.95)}100%{transform:scale(1);-webkit-transform:scale(1)}}@-webkit-keyframes hideSweetAlert{0%{transform:scale(1);-webkit-transform:scale(1)}100%{transform:scale(0.5);-webkit-transform:scale(0.5)}}@keyframes hideSweetAlert{0%{transform:scale(1);-webkit-transform:scale(1)}100%{transform:scale(0.5);-webkit-transform:scale(0.5)}}@-webkit-keyframes slideFromTop{0%{top:0}100%{top:50%}}@keyframes slideFromTop{0%{top:0}100%{top:50%}}@-webkit-keyframes slideToTop{0%{top:50%}100%{top:0}}@keyframes slideToTop{0%{top:50%}100%{top:0}}@-webkit-keyframes slideFromBottom{0%{top:70%}100%{top:50%}}@keyframes slideFromBottom{0%{top:70%}100%{top:50%}}@-webkit-keyframes slideToBottom{0%{top:50%}100%{top:70%}}@keyframes slideToBottom{0%{top:50%}100%{top:70%}}.showSweetAlert[data-animation=pop]{-webkit-animation:showSweetAlert .3s;animation:showSweetAlert .3s}.showSweetAlert[data-animation=none]{-webkit-animation:none;animation:none}.showSweetAlert[data-animation=slide-from-top]{-webkit-animation:slideFromTop .3s;animation:slideFromTop .3s}.showSweetAlert[data-animation=slide-from-bottom]{-webkit-animation:slideFromBottom .3s;animation:slideFromBottom .3s}.hideSweetAlert[data-animation=pop]{-webkit-animation:hideSweetAlert .2s;animation:hideSweetAlert .2s}.hideSweetAlert[data-animation=none]{-webkit-animation:none;animation:none}.hideSweetAlert[data-animation=slide-from-top]{-webkit-animation:slideToTop .4s;animation:slideToTop .4s}.hideSweetAlert[data-animation=slide-from-bottom]{-webkit-animation:slideToBottom .3s;animation:slideToBottom .3s}@-webkit-keyframes animateSuccessTip{0%{width:0;left:1px;top:19px}54%{width:0;left:1px;top:19px}70%{width:50px;left:-8px;top:37px}84%{width:17px;left:21px;top:48px}100%{width:25px;left:14px;top:45px}}@keyframes animateSuccessTip{0%{width:0;left:1px;top:19px}54%{width:0;left:1px;top:19px}70%{width:50px;left:-8px;top:37px}84%{width:17px;left:21px;top:48px}100%{width:25px;left:14px;top:45px}}@-webkit-keyframes animateSuccessLong{0%{width:0;right:46px;top:54px}65%{width:0;right:46px;top:54px}84%{width:55px;right:0;top:35px}100%{width:47px;right:8px;top:38px}}@keyframes animateSuccessLong{0%{width:0;right:46px;top:54px}65%{width:0;right:46px;top:54px}84%{width:55px;right:0;top:35px}100%{width:47px;right:8px;top:38px}}@-webkit-keyframes rotatePlaceholder{0%{transform:rotate(-45deg);-webkit-transform:rotate(-45deg)}5%{transform:rotate(-45deg);-webkit-transform:rotate(-45deg)}12%{transform:rotate(-405deg);-webkit-transform:rotate(-405deg)}100%{transform:rotate(-405deg);-webkit-transform:rotate(-405deg)}}@keyframes rotatePlaceholder{0%{transform:rotate(-45deg);-webkit-transform:rotate(-45deg)}5%{transform:rotate(-45deg);-webkit-transform:rotate(-45deg)}12%{transform:rotate(-405deg);-webkit-transform:rotate(-405deg)}100%{transform:rotate(-405deg);-webkit-transform:rotate(-405deg)}}.animateSuccessTip{-webkit-animation:animateSuccessTip .75s;animation:animateSuccessTip .75s}.animateSuccessLong{-webkit-animation:animateSuccessLong .75s;animation:animateSuccessLong .75s}.sa-icon.sa-success.animate::after{-webkit-animation:rotatePlaceholder 4.25s ease-in;animation:rotatePlaceholder 4.25s ease-in}@-webkit-keyframes animateErrorIcon{0%{transform:rotateX(100deg);-webkit-transform:rotateX(100deg);opacity:0}100%{transform:rotateX(0deg);-webkit-transform:rotateX(0deg);opacity:1}}@keyframes animateErrorIcon{0%{transform:rotateX(100deg);-webkit-transform:rotateX(100deg);opacity:0}100%{transform:rotateX(0deg);-webkit-transform:rotateX(0deg);opacity:1}}.animateErrorIcon{-webkit-animation:animateErrorIcon .5s;animation:animateErrorIcon .5s}@-webkit-keyframes animateXMark{0%{transform:scale(0.4);-webkit-transform:scale(0.4);margin-top:26px;opacity:0}50%{transform:scale(0.4);-webkit-transform:scale(0.4);margin-top:26px;opacity:0}80%{transform:scale(1.15);-webkit-transform:scale(1.15);margin-top:-6px}100%{transform:scale(1);-webkit-transform:scale(1);margin-top:0;opacity:1}}@keyframes animateXMark{0%{transform:scale(0.4);-webkit-transform:scale(0.4);margin-top:26px;opacity:0}50%{transform:scale(0.4);-webkit-transform:scale(0.4);margin-top:26px;opacity:0}80%{transform:scale(1.15);-webkit-transform:scale(1.15);margin-top:-6px}100%{transform:scale(1);-webkit-transform:scale(1);margin-top:0;opacity:1}}.animateXMark{-webkit-animation:animateXMark .5s;animation:animateXMark .5s}@-webkit-keyframes pulseWarning{0%{border-color:#F8D486}100%{border-color:#F8BB86}}@keyframes pulseWarning{0%{border-color:#F8D486}100%{border-color:#F8BB86}}.pulseWarning{-webkit-animation:pulseWarning .75s infinite alternate;animation:pulseWarning .75s infinite alternate}@-webkit-keyframes pulseWarningIns{0%{background-color:#F8D486}100%{background-color:#F8BB86}}@keyframes pulseWarningIns{0%{background-color:#F8D486}100%{background-color:#F8BB86}}.pulseWarningIns{-webkit-animation:pulseWarningIns .75s infinite alternate;animation:pulseWarningIns .75s infinite alternate}@-webkit-keyframes rotate-loading{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}@keyframes rotate-loading{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}.sweet-alert .sa-icon.sa-error .sa-line.sa-left{-ms-transform:rotate(45deg) \9}.sweet-alert .sa-icon.sa-error .sa-line.sa-right{-ms-transform:rotate(-45deg) \9}.sweet-alert .sa-icon.sa-success{border-color:transparent\9}.sweet-alert .sa-icon.sa-success .sa-line.sa-tip{-ms-transform:rotate(45deg) \9}.sweet-alert .sa-icon.sa-success .sa-line.sa-long{-ms-transform:rotate(-45deg) \9}.la-ball-fall,.la-ball-fall > div{position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.la-ball-fall{display:block;font-size:0;color:#fff}.la-ball-fall.la-dark{color:#333}.la-ball-fall > div{display:inline-block;float:none;background-color:currentColor;border:0 solid currentColor}.la-ball-fall{width:54px;height:18px}.la-ball-fall > div{width:10px;height:10px;margin:4px;border-radius:100%;opacity:0;-webkit-animation:ball-fall 1s ease-in-out infinite;-moz-animation:ball-fall 1s ease-in-out infinite;-o-animation:ball-fall 1s ease-in-out infinite;animation:ball-fall 1s ease-in-out infinite}.la-ball-fall > div:nth-child(1){-webkit-animation-delay:-200ms;-moz-animation-delay:-200ms;-o-animation-delay:-200ms;animation-delay:-200ms}.la-ball-fall > div:nth-child(2){-webkit-animation-delay:-100ms;-moz-animation-delay:-100ms;-o-animation-delay:-100ms;animation-delay:-100ms}.la-ball-fall > div:nth-child(3){-webkit-animation-delay:0;-moz-animation-delay:0;-o-animation-delay:0;animation-delay:0}.la-ball-fall.la-sm{width:26px;height:8px}.la-ball-fall.la-sm > div{width:4px;height:4px;margin:2px}.la-ball-fall.la-2x{width:108px;height:36px}.la-ball-fall.la-2x > div{width:20px;height:20px;margin:8px}.la-ball-fall.la-3x{width:162px;height:54px}.la-ball-fall.la-3x > div{width:30px;height:30px;margin:12px}@-webkit-keyframes ball-fall{0%{opacity:0;-webkit-transform:translateY(-145%);transform:translateY(-145%)}10%{opacity:.5}20%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}80%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}90%{opacity:.5}100%{opacity:0;-webkit-transform:translateY(145%);transform:translateY(145%)}}@-moz-keyframes ball-fall{0%{opacity:0;-moz-transform:translateY(-145%);transform:translateY(-145%)}10%{opacity:.5}20%{opacity:1;-moz-transform:translateY(0);transform:translateY(0)}80%{opacity:1;-moz-transform:translateY(0);transform:translateY(0)}90%{opacity:.5}100%{opacity:0;-moz-transform:translateY(145%);transform:translateY(145%)}}@-o-keyframes ball-fall{0%{opacity:0;-o-transform:translateY(-145%);transform:translateY(-145%)}10%{opacity:.5}20%{opacity:1;-o-transform:translateY(0);transform:translateY(0)}80%{opacity:1;-o-transform:translateY(0);transform:translateY(0)}90%{opacity:.5}100%{opacity:0;-o-transform:translateY(145%);transform:translateY(145%)}}@keyframes ball-fall{0%{opacity:0;-webkit-transform:translateY(-145%);-moz-transform:translateY(-145%);-o-transform:translateY(-145%);transform:translateY(-145%)}10%{opacity:.5}20%{opacity:1;-webkit-transform:translateY(0);-moz-transform:translateY(0);-o-transform:translateY(0);transform:translateY(0)}80%{opacity:1;-webkit-transform:translateY(0);-moz-transform:translateY(0);-o-transform:translateY(0);transform:translateY(0)}90%{opacity:.5}100%{opacity:0;-webkit-transform:translateY(145%);-moz-transform:translateY(145%);-o-transform:translateY(145%);transform:translateY(145%)}}html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
HTML5 display-role reset for older browsers article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
body{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif}*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}.cf:before,.cf:after{content:"";display:table}.cf:after{clear:both}.cf{*zoom:1}.navegacao{background-color:#fff;margin:0 auto}.principal{background:#474747}.bloco{background:#fff;margin:0 auto}.navegacao li{list-style:none;font-size:1em}.menu-icon{display:block;font-size:3em;font-weight:bold;margin-left:.25em}.navegacao a{display:block;padding:0.25em 1em 0.25em 1em;text-decoration:none;color:#333;cursor:pointer}.navegacao{height:3em;overflow:hidden;webkit-transition:height 2s;-moz-transition:height 2s;-o-transition:height 2s;-ms-transition:height 2s;-transation:height 2s}.navegacao:hover,.navegacao:focus,.navegacao:active{height:auto;webkit-transition:height 2s;-moz-transition:height 2s;-o-transition:height 2s;-ms-transition:height 2s;-transation:height 2s}ul#menu li ul.sub-menu{display:none}.titulos{display:none}.containerzinho{width:100%;height:auto}.containerzinho a{color:#fff;float:left;display:none;cursor:pointer}.containerzinho a:hover{background-color:#fff;color:#00468B}li.parent a{display:inline-block;width:auto}.Asterisco{color:#00468b;display:inline-block;font-size:29px;line-height:17px;vertical-align:-10px}.TextoBlue{display:inline-block;color:#00468B;font-size:16px}@media all and (min-width:32em){.topo{height:auto}.topo h1{font-weight:bold;font-size:2em}}@media all and (min-width:60em){.containerzinho{width:100%;margin:0 auto;background-color:#00468B;text-align:center}.links{width:600px;height:auto;margin:0 auto;text-align:center;padding:0 2px}.containerzinho a{display:block;width:auto;padding:0 10px;height:49px;line-height:43px;font-weight:bold;text-decoration:none}.topo{width:80%;margin:0 auto;height:auto;background:transparent;color:#000}.topo img{width:100%;max-width:1010px;height:auto;margin:0 auto;display:block}.navegacao{margin-left:2px}.bloco,.navegacao{width:80%}.navegacao{height:auto}.navegacao:hover{height:auto}.menu-icon{display:none}.menu h2{text-align:left;height:auto;overflow:hidden;cursor:pointer;background-color:yellow}.navegacao a{width:100%;height:100%}.titulos{display:block;width:100%;color:#464646;text-align:left;margin-top:20px;margin-bottom:10px}.titulos h1{font-size:1em;display:block;width:80%;margin:0 auto;padding:15px 0}.parent{margin-bottom:10px}.borda{border:1px solid #d2d3d7;background-color:#F5F5F5}.borda:hover{background-color:#dedede}.sub-menu a:hover{text-decoration:underline}}@media all and(min-width:10em){.bloco,.navegacao{width:80%}}