	@media only screen and (max-width:930px)
{
.none
{
	display:none
}

}
	html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abb,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,adnav,adheader
{
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline
}
	article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,adnav,adheader
{
	display:block
}
	body           
{
	line-height:1;
	display:block
}
	*
{
	margin:0;
	padding:0
}
	html
{
	display:block
}
	ol,ul
{
	list-style:none
}
	blockquote,q
{
	quotes:none
}
	blockquote:before,blockquote:after,q:before,q:after
{
	background:transparent
}
	table
{
	border-collapse:collapse;
	border-spacing:0
}
	#wrapper
{
	max-width:1140px
}
	#main-wrapper
{
	float:left;
	width:67%;
	word-wrap:break-word
}
	#sidebar-wrapper
{
	float:right;
	width:33%
}
	body#layout ul,body#layout ul li
{
	list-style-type:none;
	list-style:none
}
	body#layout #header-wrapper
{
	min-height:0;
	float:left;
	width:30%
}
	body#layout #header-bawah
{
	width:60%;
	float:right
}
	body#layout #banner,body#layout #banner2
{
	background-color:#5f6868;
	padding:20px 0!important;
	margin-bottom:20px
}
	body#layout #banner:before,body#layout #banner2:before
{
	content:'Ad Slot 970x90';
	font-size:12px;
	margin-bottom:20px;
	padding-bottom:5px;
	display:inline-block;
	font-weight:400;
	font-family:sans-serif
}
	body#layout #banner .widget,body#layout #banner2 .widget
{
	width:80%;
	margin:5px auto!important;
	overflow:hidden;
	float:none
}
	body#layout #banner .add_widget,body#layout #banner2 .add_widget
{
	width:80%;
	margin:5px auto!important;
	overflow:hidden;
	float:none
}
	body#layout div#tab1,body#layout div#tab2
{
	position:relative;
	display:inline-block;
	float:left;
	width:50%
}
	body#layout #footer-wrapper
{
	width:100%;
	float:left
}
	*,:before,:after,input[type="search"]
{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box
}
	a,button,input:focus,input[type="button"],input[type="reset"],input[type="submit"],textarea:focus,.button
{
	transition:all .3s
}
	::selection
{
	background-color:#ff6858;
	color:#fff
}
	a
{
	color:#30a8eE;
	text-decoration:none
}
.widget
{
	word-wrap:break-word
}
	button,html input[type=button],input[type=reset],input[type=submit]
{
	-webkit-appearance:button;
	cursor:pointer
}
	input,select,textarea
{
	background-color:#FFF;
	border:1px solid #000;
	color:#000  ;
	font-weight:300;
	padding:10px 12px;
	width:100%
}
	a:link,a:visited
{
	color:#454545;
	text-decoration:none
}
	a:hover
{
	color:#444
}
	a img
{
	border:none;
	border-width:0;
	outline:none
}
	img
{
	max-width:100%;
	height:auto;
	vertical-align:middle;
	border:0
}
.clear
{
	clear:both
}
.navbar,.quickedit,.post-feeds,.feed-links
{
	display:none
}
.section
{
	margin:0
}
	sup,sub
{
	vertical-align:baseline;
	position:relative;
	top:-.4em;
	font-size:86%
}
	sub
{
	top:.4em
}
	small
{
	font-size:86%
}
	kbd
{
	background:#fafafa;
	display:inline-block;
	border-radius:3px;
	padding:.1em .3em .2em;
	margin:0 .2em;
	transition:all .3s
}
	kbd:hover
{
	background:#f8f8f8
}
	cite,em,i
{
	font-style:italic
}
	ul,dl
{
	margin:.2em 0 .2em 1em
}
	ol
{
	list-style:decimal outside
}
	ul
{
	list-style:disc outside
}
	li
{
	margin:0
}
	dt
{
	font-weight:700
}
	dd
{
	margin:0 0 .5em 2em
}
.post ul li span
{
	position:relative;
	display:block;
	margin:0;
	padding:2px 5px;
	text-decoration:none;
	transition:all .3s ease-out
}
	ol
{
	counter-reset:li;
	list-style:none;
	font:15px Roboto,'lucida sans';
	padding:0
}
.post-body li
{
	list-style-type:square
}
	ol ol
{
	margin:0 0 0 2em
}
.post ol li
{
	position:relative;
	display:block;
	padding:2px 0;
	margin:.2em 0 .2em 1.5em;
	background:#fff;
	color:#666;
	text-decoration:none;
	transition:all .3s
}
.post ol li:before
{
	content:counter(li);
	counter-increment:li;
	position:absolute;
	left:-2.5em;
	width:2em;
	text-align:center
}
	strong,b
{
	font-weight:700
}
.cookie-choices-info
{
	background-color:rgba(200,200,200,.99)!important;
	line-height:normal!important;
	top:initial!important;
	bottom:0!important;
	font-family:inherit!important;
	box-shadow:0 0 10px rgba(0,0,0,0.2);
	-webkit-transform:translateZ(0)
}
.cookie-choices-info .cookie-choices-text
{
	font-size:14px!important;
	color:#222!important
}
.cookie-choices-info .cookie-choices-button
{
	color:#fff!important;
	margin-left:5px!important;
	padding:3px 6px!important;
	background:#3fbdf3!important;
	border-radius:2px;
	transition:all .6s linear
}
.cookie-choices-info .cookie-choices-button:nth-child(2)
{
	background:#f68c2e!important;
	transition:all .6s linear
}
.cookie-choices-info .cookie-choices-button:hover,.cookie-choices-info .cookie-choices-button:nth-child(2):hover
{
	background:#999!important;
	transition:all .1s linear
}
	body                                
{
	background:#d0d0d0;
	color:#000;
	font-family:'Roboto',sans-serif;
	font-size:16px;
	font-weight:400;
	line-height:1.625;
	margin:0;
	padding:0
}
	h1,h2,h3,h4,h5,h6
{
	color:#696969;
	font-family:'Playfair Display',serif;
	font-weight:700;
	line-height:1.2;
	margin:0 0 10px;
	letter-spacing:1px
}
	h1
{
	font-size:200%
}
	h2
{
	font-size:180%
}
	h3
{
	font-size:160%
}
	h4
{
	font-size:140%
}
	h5
{
	font-size:120%
}
	h6
{
	font-size:100%
}
.post-body h1
{
	font-size:200%
}
.post-body h2
{
	font-size:180%
}
.post-body h3
{
	font-size:160%
}
.post-body h4
{
	font-size:140%
}
.post-body h5
{
	font-size:120%
}
.post-body h6
{
	font-size:100%
}
.CSS_LIGHTBOX
{
	z-index:999999!important
}
.CSS_LIGHTBOX_BG_MASK_TRANSPARENT
{
	opacity:.95!important
}
.CSS_LIGHTBOX_SCALED_IMAGE_IMG
{
	width:auto!important;
	max-width:100%;
	box-shadow:0 0 10px rgba(0,0,0,0.1)
}
.CSS_LIGHTBOX_BTN_CLOSE
{
	background:url(http://4.bp.blogspot.com/-9vBNlzkjRGU/VUlVTtzbolI/AAAAAAAAG-c/xBqHPFfMkzE/s1600/delete.png) no-repeat!important;
	width:32px!important;
	height:32px!important;
	top:20px!important;
	opacity:.7;
	transition:all .3s
}
.CSS_LIGHTBOX_BTN_CLOSE:hover
{
	opacity:1
}
.CSS_LIGHTBOX_BTN_CLOSE_POS
{
	right:20px!important
}
	#navbar-iframe,#ContactForm1,#ContactForm1 br,.quickedit,#Attribution1
{
	display:none;
	visibility:hidden
}
.status-msg-body,.status-msg-border
{
	display:none
}
	#invertnew-wrapper
{
	padding:0 20px;
	position:relative;
	max-width:1140px;
	margin:0 auto
}
	#wrapper
{
	max-width:1140px;
	margin:auto;
	clear:both;
	padding-top:20px
}
	#header-wrap
{
	background:#fff;
	width:100%;
	position:relative;
	margin:auto;
	border-bottom:1px solid #e5e5e5;
	border-top:1px solid #eee;
	height:60px;
	line-height:60px;
	text-align:center
}
.topmein-wrapper
{
	background:#2e2e2e;
	position:fixed;
	top:0;
	left:0;
	right:0;
	overflow:hidden;
	width:100%;
	height:50px;
	line-height:50px;
	z-index:99;
	-webkit-transform:translateZ(0);
	box-shadow:0 1px 5px rgba(0,0,0,0)
}
.main-navigation
{
	display:block;
	margin:0 auto;
	width:100%;
	max-width:1140px
}
.main-navigation ul
{
	width:100%;
	padding:0;
	margin:0;
	text-align:right
}
.main-navigation li
{
	list-style-type:none;
	float:left;
	padding:0;
	line-height:50px;
	height:50px;
	margin:0
}
.main-navigation li a
{
	font-size:12px;
	font-weight:700;
	color:#fff;
	text-transform:uppercase;
	display:inline-block;
	margin:0;
	padding:0 20px;
	text-align:center
}
.main-navigation ul li a:active,.main-navigation ul li a:hover:active,.main-navigation ul li.highlight a:hover,.main-navigation ul li a:hover,.main-navigation li.searchbutton:hover:after
{
	color:#fbb034;
	text-decoration:none
}
.main-navigation ul li:hover,.main-navigation ul li.socright:hover
{
	color:#fbb034
}
.main-navigation ul li:active,.main-navigation ul li.highlight a,.main-navigation ul li.highlight
{
	color:#fff
}
.main-navigation ul li.socright
{
	float:right
}
.main-navigation ul li.socright a
{
	padding:0 20px;
	font-weight:400;
	min-width:55px
}
.main-navigation a#pull
{
	display:none
}
.topmein-wrapper.scrolling
{
	background:rgba(255,255,255,.99);
	box-shadow:0 1px 5px rgba(0,0,0,0.1)
}
.topmein-wrapper.scrolling .main-navigation li a,.topmein-wrapper.scrolling .main-navigation li.searchbutton:after
{
	color:#888
}
.topmein-wrapper.scrolling .main-navigation ul li a:active,.topmein-wrapper.scrolling .main-navigation ul li.highlight a,.topmein-wrapper.scrolling .main-navigation ul li a:hover:active,.topmein-wrapper.scrolling .main-navigation ul li.highlight a:hover,.topmein-wrapper.scrolling .main-navigation ul li a:hover,.topmein-wrapper.scrolling .main-navigation li.searchbutton:hover:after
{
	color:#30a8e6;
	text-decoration:none
}
.topmein-wrapper.scrolling .main-navigation li.highlight,.topmein-wrapper.scrolling .main-navigation ul li:hover,.topmein-wrapper.scrolling .main-navigation ul li:hover.socright
{
	color:#30a8e6
}
.topmein-wrapper.scrolling .main-navigation li.searchbutton
{
	background:transparent
}
.topmein-wrapper.scrolling,.topmein-wrapper.scrolling .main-navigation li
{
	height:55px;
	line-height:55px
}
.main-navigation li.searchbutton
{
	margin:0;
	padding:0 20px;
	display:inline-block;
	cursor:pointer;
	float:right
}
.main-navigation li.searchbutton.active
{
	background:transparent
}
.main-navigation li.searchbutton:after
{
	content:"\f002";
	font-family:FontAwesome;
	font-style:normal;
	font-weight:400;
	text-decoration:none;
	position:relative;
	font-size:16px;
	color:#fff
}
	input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-results-button,input[type="search"]::-webkit-search-results-decoration
{
	display:none
}
.live-search
{
	position:fixed;
	overflow:auto;
	top:10%;
	left:20%;
	right:20%;
	bottom:10%;
	background:rgba(255,255,255,.99);
	box-shadow:0 2px 5px rgba(0,0,0,.15);
	opacity:0;
	visibility:hidden;
	transform:scale(1.1);
	margin:auto;
	max-width:720px;
	-webkit-backface-visibility:hidden;
	-webkit-font-smoothing:antialiased;
	z-index:1003;
	transition:transform .6s cubic-bezier(.175,.885,.32,1.275),opacity .3s,visibility .3s
}
.live-search.active
{
	opacity:1;
	visibility:visible;
	transform:scale(1.0)
}
.live-search .searchmein
{
	width:90%;
	margin:15px auto;
	padding:10px 0;
	outline:none;
	display:block
}
	#search .input
{
	background:rgba(0,0,0,.01);
	width:95%;
	height:40px;
	margin:20px auto;
	padding:0 0 0 20px;
	max-width:1000px;
	box-shadow:0 0 0 1px rgba(0,0,0,.1);
	border-radius:3px;
	transition:all .3s ease-out
}
	#search .input:active,#search .input:hover
{
	box-shadow:0 0 0 1px rgba(0,0,0,.2)
}
	#search .input .search
{
	float:left;
	width:calc(100% - 140px);
	height:40px;
	padding:0;
	margin:0;
	border:0;
	outline:0;
	background:none;
	font-size:16px;
	color:rgba(0,0,0,.45);
	line-height:40px;
	letter-spacing:1px;
	transition:all .3s ease-out
}
	#search .input .submit
{
	display:inline-block;
	float:right;
	cursor:pointer;
	width:14%;
	height:40px;
	padding:0;
	margin:0;
	border:0;
	outline:0;
	background:#30a8e6;
	font-size:16px;
	color:rgba(255,255,255,1);
	text-align:center;
	line-height:40px;
	border-radius:0 3px 3px 0;
	transition:all .3s ease-out
}
	#search .input .search:focus,#search .input .search:active,#search .input .search:hover
{
	color:rgba(0,0,0,.85)
}
	#search .input .submit:focus,#search .input .submit:hover
{
	background:#2c9bd5
}
	#search #close
{
	cursor:pointer;
	position:absolute;
	top:0;
	right:0;
	width:45px;
	height:45px;
	padding:0;
	margin:0;
	border:0;
	outline:0;
	font-weight:400;
	font-family:fontawesome;
	background:transparent;
	color:rgba(0,0,0,.25);
	text-align:center;
	line-height:45px
}
	#search #close:hover
{
	color:rgba(0,0,0,.6)
}
.search-content
{
	z-index:6;
	display:none;
	position:relative
}
.live-search .search:focus
{
	outline:none
}
.search-result
{
	padding:15px;
	width:90%;
	margin:0 auto 15px
}
.search-result .search-item
{
	overflow:auto;
	padding:15px 0;
	border-bottom:1px solid rgba(0,0,0,.07)
}
.search-item img
{
	width:60px;
	height:60px;
	float:left;
	border-radius:4px
}
.search-item a
{
	width:calc(100% - 80px);
	float:right;
	display:block;
	text-decoration:none
}
.search-item a:hover
{
	color:#0ff
}
.more-result
{
	display:none;
	cursor:pointer;
	background:#fff;
	color:#178dc8;
	padding:8px;
	margin:20px auto 40px;
	max-width:100px;
	font-size:75%;
	text-align:center;
	text-transform:uppercase;
	border-radius:3px;
	line-height:normal;
	letter-spacing:1px;
	border:1px solid #73bfe5;
	transition:all .3s ease-out
}
.more-result:hover
{
	background:#178dc8;
	color:#fff;
	border-color:transparent
}
.more-result a
{
	text-decoration:none;
	color:#fff
}
.more-result:hover a,.more-result a:hover
{
	color:#fff
}
.queryword
{
	font-weight:700
}
	#Header
{
	background:#fff;
	padding:50px 0 0
}
	#header-wrapz
{
	width:100%;
	max-width:1140px;
	margin:0 auto;
	padding:20px 0 40px;
	overflow:hidden;
	word-wrap:break-word
}
	#header-wrapper
{
	margin:0 auto;
	padding:10px 0;
	width:100%;
	float:left;
	position:relative
}
	#Header1
{
	padding:0;
	width:100%;
	text-align:center
}
	#header-wrapper h1.title,#header-wrapper h2.title
{
	color:#454545;
	font-size:320%;
	line-height:1.4em;
	margin:10px 0;
	text-transform:capitalize
}
	#header-wrapper h1.title a,#header-wrapper h2.title a
{
	color:#454545
}
	#header-wrapper h1.title a:hover,#header-wrapper h2.title a:hover
{
	color:#30a8e6
}
	p.description
{
	color:#404040
}
.header img,.header-bawah img
{
	display:block
}
.header-bawah img
{
	max-height:60px
}
.header-bawah
{
	padding:0;
	overflow:hidden;
	margin:auto;
	width:100%
}
	#navigationz
{
	background:#fff;
	position:relative;
	max-width:1140px;
	margin:auto;
	font-size:13px;
	font-weight:700;
	width:100%;
	text-transform:uppercase
}
	#navigationz ul
{
	list-style:none;
	margin:0;
	padding:0
}
	#navigationz ul > li
{
	position:relative;
	display:inline-block;
	float:left;
	margin:0;
	text-align:center;
	padding:0 20px
}
	#navigationz ul > li:after
{
	content:"";
	margin:0 20px;
	background:#ddd;
	width:1px;
	height:14px;
	top:50%;
	margin-top:-7px;
	position:absolute
}
	#navigationz ul li a
{
	color:#454545;
	transition:all .3s
}
	#navigationz ul li a:hover
{
	color:#30a8e6
}
	#navigationz ul li a.current
{
	color:#30a8e6;
	padding-left:18px
}
	#navigationz ul li ul
{
	background:#fff;
	visibility:hidden;
	opacity:0;
	padding:0;
	top:25px;
	left:0;
	font-size:12px;
	position:absolute;
	z-index:999;
	width:150px;
	height:auto;
	box-shadow:0 1px 5px rgba(0,0,0,.1);
	transition:all .4s ease-in-out
}
	#navigationz ul li:hover ul
{
	visibility:visible;
	opacity:1;
	top:52px
}
	#navigationz ul li ul li
{
	display:block;
	float:none;
	text-align:left;
	height:40px;
	line-height:40px;
	font-weight:400;
	border-bottom:1px solid #eee
}
	#navigationz ul li ul li:last-child
{
	border:0
}
	#navigationz ul li ul li:hover
{
	background:#30a8e6;
	cursor:pointer
}
	#navigationz ul li li:after,#navigationz ul li.menuright:after
{
	display:none
}
	#navigationz ul li li a
{
	color:#454545;
	transition:initial
}
	#navigationz ul li li a:hover,#navigationz ul li li:hover a
{
	color:#fff
}
	#toogle2
{
	display:none;
	background:#30a8e6;
	color:#fff;
	padding:0 12px;
	cursor:pointer;
	text-align:center;
	margin:auto;
	letter-spacing:1px;
	text-transform:uppercase
}
	#navigationz ul li.menuright
{
	float:right
}
	#navigationz ul li.menuright span.inv
{
	margin-left:10px
}
	#navigationz ul li.menuright i
{
	font-weight:400
}
	#content-wrapper
{
	margin:0 auto;
	padding:0
}
	#main-wrapper
{
	float:left;
	width:67%;
	word-wrap:break-word
}
.main .widget
{
	margin:0;
	padding:0
}
.date-header
{
	display:none!important
}
.post
{
	line-height:1.625;
	margin-bottom:20px;
	padding:20px
}
.post-body
{
	margin:0;
	line-height:1.6em
}
.post-body img,.post-body video,.post-body object
{
	max-width:100%;
	height:auto
}
.separator a
{
	margin-left:0!important;
	margin-right:0!important
}
.post blockquote
{
	background:#fafafa;
	margin:0 auto;
	padding:30px 40px;
	margin-bottom:30px;
	margin-top:1em;
	position:relative;
	color:#888
}
	blockquote:after
{
	content:"\f10e";
	position:absolute;
	font-size:18px;
	font-family:"FontAwesome";
	bottom:20px;
	right:30px;
	color:#aaa;
	font-style:normal;
	font-weight:400
}
.post table
{
	width:100%;
	text-align:left
}
.post tr
{
	width:100%
}
.post th
{
	background:#fafafa;
	padding:10px;
	border:1px solid #e3e3e3
}
.post td
{
	background:#fff;
	border:1px solid #e3e3e3;
	padding:10px
}
.post-timestamp
{
	margin-left:3px
}
.post-footer
{
	line-height:1.6em
}
.post-info
{
	color:#919aa0;
	margin:0 0 24px;
	padding:20px 0 0;
	font-size:14px;
	margin-bottom:0;
	border-top:1px solid #e3e3e3
}
.comment-info
{
	position:relative
}
.comment-info:before
{
	content:"-";
	margin:0 3px
}
.post-info i
{
	font-size:90%
}
.post .label-info
{
	display:inline-block;
	margin:30px 0 10px
}
.label-info a
{
	position:relative;
	background:#bcbdc7;
	line-height:20px;
	border-radius:2px;
	display:inline-block;
	margin-right:1px;
	padding:0 5px;
	color:#fff;
	letter-spacing:.5px;
	font-size:11px;
	text-decoration:none;
	transition:all .3s ease-in-out
}
.label-info a:nth-child(1)
{
	background:#00a4e4
}
.label-info a:nth-child(2)
{
	background:#fbb034
}
.label-info a:hover,.label-info a:hover:nth-child(1),.label-info a:hover:nth-child(2)
{
	background:#444
}
.post-info a
{
	color:#919aa0
}
.post-info a:hover
{
	color:#30a8e6
}
.breadcrumbs
{
	padding:10px 20px;
	color:#686050;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	font-size:14px
}
.breadcrumbs a
{
	color:#686050
}
.breadcrumbs a:hover
{
	color:#686050;
	text-decoration:underline
}
	#sidebar-wrapper
{
	float:right;
	width:31%
}
.sidebar h2,.sidebar h3,.sidebar h4,.sidebar-two h2,.sidebar-two h3,.sidebar-two h4
{
	position:relative;
	overflow:hidden;
	background:#fff;
	font-family:'Roboto';
	font-size:14px;
	margin:0;
	padding:16px 20px;
	border:1px solid #f0f0f0;
	border-bottom:0;
	font-weight:700;
	text-transform:uppercase;
	letter-spacing:1px;
	text-align:center
}
.widget-content
{
	margin:0;
	overflow:hidden
}
	#sidebar-wrapper .widget-content,#sidebar-two .widget-content
{
	overflow:hidden;
	background:#fff;
	display:block;
	position:relative;
	margin:0;
	padding:20px;
	border:1px solid #f0f0f0
}
.sidebar,.sidebar-two
{
	padding:0;
	margin:0 20px 20px 0;
	font-size:16px
}
.sidebar ul,.sidebar-two ul
{
	padding:0;
	margin:0;
	list-style:none
}
.sidebar ul li,.sidebar-two ul li
{
	border-bottom:1px dotted #f0f0f0;
	margin-bottom:5px;
	padding-bottom:5px
}
.sidebar ul li:last-child,.sidebar-two ul li:last-child
{
	border-bottom:0
}
.sidebar .widget
{
	margin-bottom:20px
}
.BlogArchive #ArchiveList ul li
{
	list-style:none;
	text-indent:0!important
}
	#sidebar-tabz
{
	position:relative
}
	#sidebar-tabz h2
{
	display:none
}
	#selected-tab
{
	border:1px solid #f0f0f0;
	border-bottom:0
}
	#selected-tab,#selected-tab li
{
	padding:0;
	margin:0;
	list-style:none;
	overflow:hidden
}
	#selected-tab li
{
	float:left;
	width:50%;
	text-align:center
}
	#selected-tab a
{
	line-height:46px;
	display:block;
	background-color:#fff;
	font-size:14px;
	font-weight:700;
	text-transform:uppercase;
	letter-spacing:1px;
	color:#454545;
	text-decoration:none
}
	#selected-tab .selected a,#selected-tab a:hover
{
	color:#30a8e6
}
	li.tab1
{
	border-right:1px solid #f0f0f0
}
.tab-widget-menu
{
	margin:20px 20px 0 0
}
	#sidebar-main .widget1
{
	width:100%;
	float:left
}
	#sidebar-main
{
	overflow:hidden
}
.sidebar .PopularPosts ul
{
	padding:0;
	margin:0;
	list-style:none
}
.sidebar .PopularPosts .item-thumbnail a
{
	clip:auto;
	display:block;
	height:auto;
	overflow:hidden
}
.sidebar .PopularPosts .item-thumbnail
{
	width:120px;
	height:120px;
	margin:0 15px 0 0;
	position:relative;
	box-shadow:5px 0 0 #fff
}
.sidebar .PopularPosts .item-thumbnail img
{
	position:relative;
	height:auto;
	width:100%;
	padding:0
}
.sidebar .PopularPosts ul li
{
	margin-bottom:5px;
	max-height:120px;
	overflow:hidden
}
.sidebar .PopularPosts ul li:first-child
{
	background:#D9EDF7
}
.sidebar .PopularPosts ul li:first-child+li
{
	background:#F2DEDE
}
.sidebar .PopularPosts ul li:first-child+li+li
{
	background:#DFF0D8
}
.sidebar .PopularPosts ul li:first-child+li+li+li
{
	background:#FFEEBC
}
.sidebar .PopularPosts ul li:first-child+li+li+li+li
{
	background:#E0E0E0
}
.sidebar .PopularPosts .item-title
{
	font-size:90%;
	font-weight:700;
	padding:10px 5px
}
.sidebar .PopularPosts .item-title a
{
	color:rgba(0,0,0,.4);
	text-decoration:none
}
.sidebar .PopularPosts .item-snippet
{
	font-size:80%;
	padding-right:5px
}
.sidebar .PopularPosts .widget-content ul li
{
	padding:0;
	border:0
}
.widget-content.cloud-label-widget-content
{
	display:inline-block;
	width:100%
}
.widget-content.list-label-widget-content
{
	padding:0
}
.widget-content.cloud-label-widget-content
{
	display:inline-block
}
.label-size-1,.label-size-2,.label-size-3,.label-size-4,.label-size-5
{
	font-size:100%;
	opacity:1
}
.cloud-label-widget-content
{
	text-align:left;
	padding:10px
}
.label-count
{
	white-space:nowrap;
	display:inline-block
}
	#sidebar-wrapper .Label li
{
	position:relative;
	background:#fff;
	color:#444;
	padding:0;
	margin:0;
	text-align:left;
	width:100%;
	font-size:90%;
	transition:all .3s ease-out
}
	#sidebar-wrapper .Label li:hover
{
	background:#fff;
	color:#cf4d35
}
	#sidebar-wrapper .Label li:before
{
	content:"";
	position:absolute;
	width:0;
	height:100%;
	background:#4fafe9;
	transition:all .2s ease-in-out
}
	#sidebar-wrapper .Label li:hover:before
{
	width:100%
}
	#sidebar-wrapper .Label li a
{
	padding:0 0 0 10px;
	display:block;
	position:relative;
	line-height:42px;
	color:#787878;
	text-decoration:none;
	transition:all .3s ease-out
}
	#sidebar-wrapper .Label li a:hover
{
	color:#fff
}
	#sidebar-wrapper .Label li span
{
	float:right;
	height:42px;
	line-height:42px;
	width:42px;
	text-align:center;
	display:inline-block;
	background:#4fafe9;
	color:#FFF;
	position:absolute;
	top:0;
	right:0;
	z-index:2
}
	#sidebar-wrapper .Label li:nth-child(1) span,#sidebar-wrapper .Label li:nth-child(1):before,#sidebar-wrapper .Label li:nth-child(7) span,#sidebar-wrapper .Label li:nth-child(7):before
{
	background:#ca85ca
}
	#sidebar-wrapper .Label li:nth-child(2) span,#sidebar-wrapper .Label li:nth-child(2):before,#sidebar-wrapper .Label li:nth-child(8) span,#sidebar-wrapper .Label li:nth-child(8):before
{
	background:#e54e7e
}
	#sidebar-wrapper .Label li:nth-child(3) span,#sidebar-wrapper .Label li:nth-child(3):before,#sidebar-wrapper .Label li:nth-child(9) span,#sidebar-wrapper .Label li:nth-child(9):before
{
	background:#61c436
}
	#sidebar-wrapper .Label li:nth-child(4) span,#sidebar-wrapper .Label li:nth-child(4):before,#sidebar-wrapper .Label li:nth-child(10) span,#sidebar-wrapper .Label li:nth-child(10):before
{
	background:#f4b23f
}
	#sidebar-wrapper .Label li:nth-child(5) span,#sidebar-wrapper .Label li:nth-child(5):before,#sidebar-wrapper .Label li:nth-child(11) span,#sidebar-wrapper .Label li:nth-child(11):before
{
	background:#46c49c
}
	#sidebar-wrapper .Label li:nth-child(6) span,#sidebar-wrapper .Label li:nth-child(6):before,#sidebar-wrapper .Label li:nth-child(12) span,#sidebar-wrapper .Label li:nth-child(12):before
{
	background:#607ec7
}
	#sidebar-wrapper .label-size
{
	position:relative;
	display:block;
	float:left;
	margin:0 4px 4px 0;
	font-size:13px;
	transition:all .3s
}
	#sidebar-wrapper .label-size a
{
	background:#fff;
	background-image:linear-gradient(to bottom,rgba(255,255,255,1)0,rgba(250,250,250,1)70%,rgba(246,246,246,1)99%,rgba(246,246,246,1)100%);
	display:inline-block;
	color:#444;
	padding:5px 8px;
	font-weight:400;
	border:1px solid #e3e3e3;
	background-repeat:repeat-y;
	background-size:100% 90px;
	background-position:0 -30px;
	transition:all .3s
}
	#sidebar-wrapper .label-count
{
	opacity:0;
	visibility:hidden;
	font-size:85%;
	display:inline-block;
	position:absolute;
	top:-10px;
	right:-10px;
	background:#4fafe9;
	color:#fff;
	white-space:nowrap;
	padding:0;
	width:22px;
	height:22px;
	line-height:22px;
	border-radius:100%;
	text-align:center;
	z-index:1;
	transition:all .3s
}
	#sidebar-wrapper .label-size:hover .label-count
{
	opacity:1;
	visibility:visible;
	top:-5px
}
	#sidebar-wrapper .label-size a:hover
{
	color:#444;
	background-image:linear-gradient(to bottom,rgba(255,255,255,1)0,rgba(250,250,250,1)18%,rgba(255,255,255,1)99%,rgba(255,255,255,1)100%);
	background-position:0 0
}
	#footer-wrapper .Label li
{
	background:transparent;
	float:left;
	padding:5px;
	margin:0;
	text-align:left;
	width:45%;
	transition:all .3s ease-out
}
	#footer-wrapper .Label li:hover
{
	color:#cf4d35
}
	#footer-wrapper .Label li a
{
	color:#aaa;
	transition:all .3s ease-out
}
	#footer-wrapper .Label li a:hover
{
	color:#cf4d35
}
	#footer-wrapper .Label li span
{
	float:right;
	color:#aaa;
	margin:0;
	padding:4px 6px;
	text-align:center;
	font-size:13px;
	font-weight:400;
	border-radius:2px
}
	#footer-wrapper .Label li span:hover
{
	color:#cf4d35
}
	#footer-wrapper .label-size
{
	position:relative;
	background:#3f414a;
	color:#fff;
	display:block;
	float:left;
	margin:0 1px 1px 0;
	font-size:14px;
	transition:all .4s
}
	#footer-wrapper .label-size a
{
	display:inline-block;
	color:#fff;
	padding:6px 8px;
	font-weight:400
}
	#footer-wrapper .label-size a:hover
{
	background:#23242a;
	color:#fff;
	transition:all .2s
}
	#footer-wrapper .label-size:hover,#footer-wrapper-inner .label-size:hover
{
	background:#e1a66c;
	color:#fff
}
	#footer-wrapper .label-count
{
	opacity:0;
	visibility:hidden;
	font-size:85%;
	display:inline-block;
	position:absolute;
	top:-10px;
	right:-10px;
	background:#fb4646;
	color:#fff;
	white-space:nowrap;
	padding:0;
	width:22px;
	height:22px;
	line-height:22px;
	border-radius:100%;
	text-align:center;
	z-index:1;
	transition:all .3s
}
	#footer-wrapper .label-size:hover .label-count
{
	opacity:1;
	visibility:visible;
	top:-5px
}
	#blog-pager-newer-link
{
	float:left
}
	#blog-pager-older-link
{
	float:right
}
	#blog-pager
{
	float:left;
	width:100%;
	text-align:center;
	line-height:2em;
	margin:10px 0
}
	#footer-wrapper
{
	background:#222;
	font-size:16px;
	color:#aab4b8;
	text-align:center
}
	#footer-wrapper .site-footer,#footer-wrapper .site-credit
{
	position:relative;
	max-width:1140px;
	background:#222;
	color:#777;
	padding:20px 0 0;
	text-align:center;
	font-size:11px;
	text-transform:uppercase;
	letter-spacing:2px;
	line-height:20px;
	margin:auto
}
	#footer-wrapper .site-credit
{
	padding:0 0 20px
}
	#footer-wrapper .site-footer a,#footer-wrapper .site-credit a
{
	color:#ddd
}
	#footer-wrapper .site-footer a:hover,#footer-wrapper .site-credit a:hover
{
	color:#eee;
	text-decoration:underline
}
	#footer
{
	background:#fff;
	margin:auto;
	border-top:1px solid #eee
}
	#footer .footer-nav
{
	max-width:1140px;
	margin:auto
}
	#footer .footer-nav ul
{
	max-width:100%;
	margin:auto;
	padding:25px 10px;
	text-align:center
}
	#footer .footer-nav li
{
	display:inline;
	text-align:center;
	list-style:none;
	margin:0;
	padding:8px 12px;
	transition:all .9s linear
}
	#footer .footer-nav li:hover
{
	transition:all .1s linear
}
	#footer .footer-nav li a
{
	position:relative;
	text-transform:capitalize;
	padding:0;
	margin:0
}
	#footer .footer-nav li a:hover
{
	color:#30a8e6;
	text-decoration:none
}
	#footer .footer-nav li a:after
{
	content:'';
	background:#aab4b8 none repeat scroll 0 0;
	display:inline-block;
	height:12px;
	margin-left:18px;
	width:1px
}
	#footer .footer-nav li:last-child a:after
{
	display:none
}
	#backtotop
{
	background:#373737;
	position:absolute;
	right:0;
	display:inline-block;
	width:40px;
	height:40px;
	line-height:40px;
	border-radius:4px;
	cursor:pointer;
	font-size:16px;
	color:#fff;
	z-index:2;
	transition:all .3s
}
	#backtotop i
{
	margin-left:2px
}
.banner,.banner2
{
	margin:0 auto;
	text-align:center;
	overflow:hidden
}
.banner .widget,.banner2 .widget
{
	width:100%;
	max-width:100%;
	margin:0 auto;
	background:transparent;
	text-align:center;
	overflow:hidden;
	padding-bottom:15px
}
.banner img,.banner iframe,.banner2 img,.banner2 iframe
{
	display:block;
	margin:0 auto;
	text-align:center
}
.kotak_iklan
{
	text-align:center;
	margin:0 auto;
	transition:all 1s ease-out
}
.kotak_iklan .sidebar .widget-content,.kotak_iklan .sidebar-two .widget-content
{
	padding:0;
	border:0
}
.kotak_iklan .sidebar .widget
{
	margin-bottom:0;
	padding:0
}
.kotak_iklan img
{
	background:#fff;
	text-align:center;
	margin:0 auto;
	padding:4px;
	border:1px solid transparent!important;
	transition:all .6s ease-out
}
.kotak_iklan img:hover
{
	background:#fdfdfd;
	border:1px solid #e6e6e6
}
.kotak_iklan2
{
	text-align:center;
	margin:0 auto;
	transition:all 1s ease-out
}
.kotak_iklan2 .sidebar .widget-content,.kotak_iklan2 .sidebar-two .widget-content
{
	padding:0;
	background:#f2f6f7;
	box-shadow:0 1px 2px 0 rgba(0,0,0,0.1);
	border:0
}
.kotak_iklan2 .sidebar .widget,.kotak_iklan2 .sidebar-two .widget
{
	margin-bottom:0;
	padding:0
}
.kotak_iklan2 img
{
	text-align:center;
	transition:all 1s ease-out
}
.kotak_iklan2 img:hover
{
	transition:all .5s ease-out
}
.recent-galeri
{
	padding:0;
	clear:both
}
.recent-galeri:after
{
	content:"";
	display:table;
	clear:both
}
.recent-galeri .gallerytem
{
	display:block;
	float:left;
	position:relative;
	margin:8px auto;
	overflow:hidden;
	padding:0
}
.recent-galeri .gallerytem a
{
	position:relative;
	float:left;
	margin:0;
	overflow:hidden;
	text-decoration:none
}
.recent-galeri .gallerytem .ptitle
{
	background:rgba(255,255,255,0);
	display:block;
	clear:left;
	font-size:14px;
	line-height:1.3em;
	position:absolute;
	text-align:left;
	bottom:-20px;
	left:0;
	right:0;
	color:rgba(255,255,255,0);
	padding:10px;
	word-wrap:break-word;
	backface-visibility:hidden;
	transition:all .2s
}
.recent-galeri .gallerytem:hover .ptitle
{
	bottom:0;
	background:rgba(245,105,84,.95);
	color:rgba(255,255,255,1)
}
.recent-galeri a img
{
	background:#fdfdfd;
	float:left;
	transition:all .3s
}
	#HTML96 .widget-content,#HTML3 .widget-content
{
	text-align:center
}
	#HTML5 .widget-content
{
	padding:20px 10px
}
	#HTML1 .widget-content,#HTML2 .widget-content
{
	padding:0;
	margin:auto;
	text-align:center
}
	#HTML1 .widget-content
{
	border:0
}
	#HTML97 h2
{
	display:none
}
.aboutpro-img:before
{
	content:'';
	background:url(http://2.bp.blogspot.com/-DeV20aLdX3I/VhAfZI4oGuI/AAAAAAAADG0/MSt6cJTgmiA/s1600/pattern-overlay.png)center top repeat;
	opacity:.3;
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	top:0;
	z-index:2
}
.aboutpro-img img
{
	display:block;
	width:100%;
	max-width:100%;
	position:absolute;
	right:0;
	bottom:0
}
.aboutpro-wrapicon
{
	display:block;
	margin:15px auto 0;
	position:relative;
	z-index:3
}
.aboutpro-wrapicon .extender
{
	width:100%;
	display:block
}
.extender
{
	text-align:center;
	font-size:18px
}
.extender .aboutpro-icon
{
	display:inline-block;
	margin:0 .5px;
	padding:0;
	border:0
}
.extender .aboutpro-icon a
{
	display:inline-block;
	font-family:fontawesome;
	height:32px;
	width:32px;
	line-height:32px;
	font-weight:400;
	color:#fff;
	font-size:80%;
	transition:all .5s
}
.extender .aboutpro-icon:hover a,.extender .aboutpro-icon a:hover
{
	color:rgba(255,255,255,.7)
}
.aboutpro-info
{
	font-size:12px
}
.aboutpro-info h4
{
	display:table;
	background:rgba(255,255,255,1);
	margin:10px auto;
	font-family:'Playfair Display',serif;
	font-size:220%;
	font-weight:400;
	text-transform:capitalize;
	color:#454545;
	border:4px double #2e2e2e;
	z-index:3;
	padding:5px 10px
}
.aboutpro-info p
{
	position:relative;
	display:block;
	color:#fff;
	z-index:4;
	font-size:110%;
	text-align:center
}
	@media screen and (max-width:1024px)
{
	#Header
{
	padding:50px 20px 20px
}
	#main-wrapper
{
	width:65%;
	margin-left:20px
}
	#backtotop
{
	right:20px
}

}
	@media screen and (max-width:960px)
{
	body
{
	background-color:#fff
}
	#wrapper,#content-wraper
{
	width:100%;
	padding:20px
}
	#header-wrap
{
	background:transparent;
	border:0;
	padding:0 20px;
	height:40px;
	line-height:40px
}
.invertnew-wrapper.clearfix
{
	background:#222
}
.topmein-wrapper
{
	position:relative;
	overflow:visible
}
.main-navigation
{
	display:block;
	width:100%;
	padding:0
}
.main-navigation ul
{
	text-align:center;
	display:none;
	height:auto
}
.main-navigation a#pull
{
	background-color:#222;
	color:#fff;
	display:block;
	font-size:14px;
	font-weight:700;
	padding:5px 20px;
	position:relative;
	text-align:left;
	text-transform:uppercase;
	width:100%;
	line-height:40px
}
.main-navigation a#pull:after
{
	content:"\f0c9";
	font-family:FontAwesome;
	font-style:normal;
	font-weight:400;
	text-decoration:none;
	font-size:26px;
	color:#fff;
	display:inline-block;
	position:absolute;
	right:20px;
	line-height:40px
}
.main-navigation li
{
	display:block;
	width:100%;
	text-align:left
}
.main-navigation li a
{
	background:#222;
	color:#bfc6cd;
	padding:0 10px;
	display:block
}
.main-navigation li a:hover,nav a:active
{
	background:#303030;
	box-shadow:none;
	border:none;
	color:#fff!important
}
.main-navigation ul li a:active,.main-navigation ul li.highlight a
{
	background:#303030;
	box-shadow:none;
	color:#fff;
	text-decoration:none
}
.main-navigation ul li a:hover:active,.main-navigation ul li.highlight a:hover
{
	box-shadow:none;
	color:#fff;
	text-decoration:none
}
.main-navigation li.searchbutton
{
	background:#222;
	margin:0;
	padding:0 20px;
	display:inline-block;
	cursor:pointer;
	float:none;
	text-align:center
}
	#header-wrapper h1.title,#header-wrapper h2.title
{
	margin:0
}
	#header-wrapper
{
	width:100%;
	float:none
}
	#header-wrapz
{
	padding:0;
	background-image:none;
	margin:0 auto 20px
}
	#Header1
{
	float:none;
	padding:0;
	max-width:100%;
	margin:auto;
	text-align:center
}
.descriptionwrapper
{
	visibility:visible;
	width:initial;
	height:initial;
	color:#bfc6cd
}
.header-bawah
{
	float:none;
	max-width:80%;
	margin:auto
}
.widget
{
	margin:0 0 20px;
	clear:both
}
	#main-wrapper
{
	padding:0;
	margin:0
}
	#main-wrapper,#sidebar-wrapper
{
	width:100%
}
	#sidebar-tabz
{
	position:relative;
	margin:10px
}
.sidebar,.sidebar-two,.sidebar-two:first-child
{
	margin:10px
}
	#sidebar-tabz .sidebar,.tab-widget-menu
{
	margin:0
}
	#navigationz
{
	background:transparent;
	border:0
}
	#navigationz ul li:hover ul
{
	top:initial
}
	#navigationz ul li
{
	float:none;
	display:block;
	text-align:left;
	border:0;
	background:#fff
}
	#navigationz ul li:hover
{
	background:#30a8e6
}
	#navigationz ul li a:hover
{
	color:#fff;
	padding-left:15px
}
	#navigationz ul li ul
{
	position:inherit;
	visibility:visible;
	opacity:1;
	width:100%;
	top:initial;
	box-shadow:none
}
	#navigationz ul
{
	display:none;
	float:none;
	clear:both;
	position:relative;
	padding:15px;
	z-index:99
}
	#navigationz ul li a:hover,#navigationz ul li li:hover
{
	background:#30a8e6;
	color:#fff
}
	#toogle2
{
	display:table;
	clear:both
}
.displaying
{
	display:inherit!important
}
	#navigationz ul li ul li
{
	border:0
}
	#navigationz ul > li
{
	padding:0
}
	#navigationz ul > li:after,#navigationz ul li.menuright,.main-navigation ul li.socright,.main-navigation li.menu
{
	display:none
}
	#footer-wrapper .site-credit
{
	padding:20px 0
}
	#footer .footer-nav li
{
	line-height:normal
}
	#backtotop
{
	margin:20px auto 0;
	position:relative;
	right:0;
	display:block
}

}
	@media screen and (max-width:640px)
{
	#Header
{
	padding:0
}
	#sidebar-wrapper .widget-content,#sidebar-two .widget-content
{
	padding:20px 0;
	border:0
}
.sidebar h2,.sidebar h3,.sidebar h4,.sidebar-two h2,.sidebar-two h3,.sidebar-two h4,#selected-tab,li.tab1
{
	background:#f5f5f5;
	border:0
}
.sidebar .PopularPosts .item-thumbnail
{
	width:60px;
	height:60px
}
.sidebar .PopularPosts .item-title
{
	padding:5px 5px 0
}
.recent-galeri .gallerytem
{
	display:table;
	float:none
}

}
	@media screen and (max-width:384px)
{
	body
{
	padding:0
}
	#wrapper,#content-wraper
{
	padding:10px 10px 0
}
	#header-wrap,#header-wrapper
{
	padding:0
}
.post-info
{
	display:none
}

}
.post
{
	position:relative;
	padding:0;
	overflow:hidden;
	margin-bottom:20px;
	background:#F5F5F5;
	box-shadow:0 0 3px rgba(0,0,0,.05)
}
.post h2.post-title.entry-title
{
	display:block;
	font-size:150%;
	overflow:hidden;
	margin:5px 20px 15px 0;
	line-height:1.2
}
.post h2.post-title.entry-title a
{
	color:#454545
}
.post h2.post-title.entry-title a:hover
{
	color:#DC626D
}
.post-body
{
	position:relative;
	padding:0
}
.snippets
{
	padding:0 30px 0 0;
	font-size:13px
}
.post-info
{
	margin:0 30px 0 0;
	padding:0;
	border:0;
	margin-bottom:10px;
	color:#b9b9b9;
	font-size:11px;
	text-transform:uppercase;
	letter-spacing:.5px
}
.post-body img
{
	margin:0 10px 0 0;
	padding:2px
}
.post-thumbnail
{
	overflow:hidden;
	background:#f5f5f5;
	position:relative;
	height:auto;
	margin:0 30px 0 auto;
	padding:0;
	z-index:1;
	float:left
}
.post-thumbnail img
{
	width:100%;
	height:auto;
	min-width:280px;
	min-height:180px;
	padding:0;
	margin:0
}
.post-thumbnail .loop-layer
{
	width:100%;
	height:100%;
	position:absolute;
	z-index:2;
	background-color:rgba(31,31,31,.22);
	background-repeat:no-repeat;
	background-position:center center;
	background-image:url(http://3.bp.blogspot.com/-uuEuYfkFfyA/VhAfZNLSvHI/AAAAAAAADGw/R7TeleksS5A/s1600/icon-zoom.png);
	opacity:0;
	transition:opacity .2s ease
}
.post-thumbnail:hover .loop-layer
{
	opacity:1
}
.label-info a:nth-child(n+3),.home-link
{
	display:none
}
.post .post-readmore
{
	margin-top:30px;
	position:absolute;
	right:30px;
	bottom:30px;
	line-height:normal
}
.post .post-readmore a
{
	color:#aaa;
	position:relative;
	display:inline-block;
	text-align:center;
	font-size:12px;
	letter-spacing:1px;
	padding:0 0 12px
}
.post .post-readmore a:hover
{
	color:#454545
}
.post .post-readmore:after
{
	content:'\f105';
	font-family:fontawesome;
	margin-left:10px;
	font-weight:400;
	vertical-align:middle;
	color:#aaa
}
	#blog-pager
{
	clear:both;
	display:inline-block;
	overflow:visible;
	width:auto;
	background-color:#fff;
	margin:40px 0 20px 20px;
	border:1px solid #f0f0f0;
	padding:0;
	text-align:left;
	line-height:normal;
	font-size:13px;
	font-weight:400
}
.showpageOf
{
	display:inline-block;
	font-size:90%;
	padding:7px 12px;
	vertical-align:top;
	line-height:20px
}
.showpagePoint
{
	background:#30a8e6;
	color:#fff;
	display:inline-block;
	vertical-align:top;
	line-height:20px;
	padding:7px 12px;
	margin:0;
	font-size:14px;
	text-align:center;
	border-left:1px solid #f0f0f0;
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.1);
	transition:initial
}
.showpage a,.showpageNum a
{
	display:inline-block;
	vertical-align:top;
	line-height:20px;
	padding:7px 12px;
	margin:0;
	font-size:14px;
	text-align:center;
	border-left:1px solid #f0f0f0;
	transition:color .3s
}
.showpage a:hover,.showpageNum a:hover
{
	background-color:#fefefe;
	color:#454545;
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.1);
	transition:color .3s
}
	@media screen and (max-width:960px)
{
	#main-wrapper
{
	padding:0
}
.posts-description h2
{
	font-size:16px
}
.posts-description p,.post .post-readmore
{
	display:none
}

}
	@media screen and (max-width:640px)
{
.post
{
	width:100%;
	float:none;
	margin:0 0 20px
}
.post-body
{
	margin:0
}
.post h2.post-title.entry-title
{
	text-overflow:clip;
	white-space:normal
}
.post .label-info
{
	display:none;
	position:relative;
	margin:10px 0;
	top:0;
	left:0
}
.post-thumbnail
{
	max-height:200px;
	vertical-align:middle;
	float:none;
	margin:0 auto 20px
}
.post-thumbnail img
{
	min-height:auto;
	min-width:auto
}
.post-info
{
	clear:both
}
.showpageOf
{
	display:none
}

}
	@media screen and (max-width:384px)
{
	#main-wrapper
{
	padding:10px
}
.post h2.post-title.entry-title
{
	font-size:18px;
	line-height:normal
}
.snippets
{
	display:none
}

}
	 .breadcrumbs
{
	background:#30a8e6;
	padding:16px 20px;
	color:#fff;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	font-size:14px
}
.breadcrumbs a
{
	color:#ff0
}
.breadcrumbs a:hover
{
	color:#fff;
	text-decoration:underline
}
.post
{
	line-height:1.625;
	margin-bottom:20px;
	padding:30px;
	background:#fff;
	box-shadow:0 0 0 1px rgba(0,0,0,.05)
}
.post-body img
{
	background:#fafafa;
	height:auto;
	max-width:100%;
	border:0;
	margin-bottom:2px;
	opacity:1;
	transition:all .6s ease
}
.post-body img:hover
{
	opacity:.95
}
.post-body img.lock
{
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	pointer-events:none
}
.post-body a.img,.post-body .separator a
{
	margin-left:0!important;
	margin-right:0!important
}
.post-body a:link
{
	color:#30a8e6
}
	h2.post-title.entry-title
{
	font-size:25px;
	margin:0 0 20px;
	background-image:url(http://3.bp.blogspot.com/-AO5dynhcqWc/VfB82_i36-I/AAAAAAAAO4k/2117cWRjtMk/s1600/img-dark.png);
	background-position:center bottom;
	background-repeat:no-repeat;
	margin-bottom:30px;
	padding-bottom:40px;
	position:relative;
	text-align:center
}
	pre,kbd,blockquote
{
	-webkit-user-select:text;
	-khtml-user-select:text;
	-moz-user-select:text;
	-ms-user-select:text;
	user-select:text
}
.rateoff
{
	visibility:hidden;
	opacity:0;
	width:0;
	height:0;
	pointer-events:none;
	overflow:hidden
}
.post-info
{
	padding:0;
	border-top:0
}
.post .label-info
{
	display:block;
	margin:20px auto;
	text-align:center
}
.post-body .label-info a,.post-body .label-info a:link
{
	color:#fff
}
	#related-post
{
	margin:0 auto;
	padding:0;
	text-align:center
}
	#related-post h4
{
	position:relative;
	overflow:hidden;
	margin:10px 0 20px;
	font-size:120%;
	padding:4px 8px;
	text-align:center;
	transition:all .5s ease-out
}
	#related-post h4:before,#related-post h4:after
{
	position:absolute;
	top:51%;
	overflow:hidden;
	width:50%;
	height:1px;
	content:'\a0';
	background-color:#eee
}
	#related-post h4:before
{
	margin-left:-50%;
	text-align:right
}
	#related-post h4 span
{
	background:#30a8e6;
	color:#fff;
	position:relative;
	display:inline-block;
	padding:10px;
	margin:0 10px;
	border:4px double #fefefe
}
.relhead
{
	font-size:100%;
	font-weight:400;
	line-height:150%;
	overflow:hidden;
	padding:10px 0
}
	#related-summary .news-text
{
	display:none
}
	ul#related-summary
{
	margin:0 auto;
	padding:0;
	list-style:none;
	word-wrap:break-word
}
	ul#related-summary li
{
	position:relative;
	float:left;
	list-style:none outside none;
	padding:0;
	overflow:hidden;
	margin:0 9px;
	width:100%;
	max-width:216px;
	height:215px;
	transition:opacity .2s ease
}
	ul#related-summary li a
{
	display:block
}
	ul#related-summary li img
{
	background-color:#fafafa;
	display:block;
	width:100%;
	height:auto;
	max-width:100%;
	max-height:150px;
	vertical-align:middle;
	overflow:hidden;
	margin:0 0 10px;
	transition:all 1s ease-out
}
	ul#related-summary li:hover img
{
	opacity:.96
}
	ul#related-summary li a.relinkjdulx
{
	background-image:none;
	color:#444;
	display:block;
	font-size:13px;
	font-weight:700;
	line-height:normal;
	overflow:hidden;
	padding:0;
	text-align:left;
	text-transform:none
}
	ul#related-summary li a.relinkjdulx:hover
{
	color:#f8695f
}
	ul#related-summary li .overlayb
{
	background:linear-gradient(to bottom,rgba(0,0,0,0)0,rgba(0,0,0,.02)65%,rgba(0,0,0,.2)100%);
	width:100%;
	height:145px;
	position:absolute;
	opacity:1;
	z-index:2;
	transition:opacity .2s ease
}
	ul#related-summary li:hover .overlayb
{
	opacity:0
}
	h2.sharetitle
{
	position:relative;
	overflow:hidden;
	margin:20px 0;
	font-size:120%;
	font-weight:700;
	padding:4px 8px;
	text-align:center;
	transition:all .5s ease-out
}
	h2.sharetitle:before,h2.sharetitle:after
{
	position:absolute;
	top:51%;
	overflow:hidden;
	width:50%;
	height:1px;
	content:'\a0';
	background-color:#eee
}
	h2.sharetitle:before
{
	margin-left:-50%;
	text-align:right
}
	h2.sharetitle span
{
	position:relative;
	display:inline-block;
	padding:5px 10px;
	margin:0 10px
}
.sharede,.sharein
{
	position:relative;
	display:inline-block
}
.sharein
{
	display:table;
	margin:auto;
	text-align:center
}
.sharein a.fb,.sharein a.gp,.sharein a.tw,.sharein span.pl
{
	text-decoration:none!important;
	display:inline-block;
	margin:0 5px 5px 0;
	font-weight:400;
	border-radius:2px;
	color:#fff;
	box-shadow:0 1px 0 rgba(0,0,0,.08);
	text-shadow:none;
	padding:4px 10px;
	opacity:1;
	transition:all .3s
}
.sharein a.gp
{
	background:#f20000
}
.sharein a.fb
{
	background:#516ca4
}
.sharein a.tw
{
	background:#00baff
}
.sharein span.pl
{
	background:#f60
}
.fbtea,.gotea,.plustea,.twtea
{
	font-size:13px!important;
	vertical-align:middle
}
.sharein a.fb:hover,.sharein a.gp:hover,.sharein a.tw:hover,.sharein span.pl:hover
{
	color:#fff;
	opacity:.9
}
.sharein a.fb:active,.sharein a.gp:active,.sharein a.tw:active,.sharein span.pl:active
{
	box-shadow:inset 0 1px 0 rgba(0,0,0,.16)
}
	span.pl
{
	color:green;
	cursor:pointer
}
	#share-menu
{
	display:none
}
.dropdown-menu
{
	position:absolute;
	bottom:100%;
	right:5px;
	z-index:99;
	float:left;
	min-width:100px;
	padding:5px 10px;
	margin:0;
	font-size:13px;
	text-align:left;
	list-style:none;
	background-color:#fff;
	-webkit-background-clip:padding-box;
	background-clip:padding-box;
	border:1px solid #ddd;
	border-radius:3px
}
.dropdown-menu li
{
	list-style:none!important;
	margin:0!important;
	padding-left:0!important;
	line-height:1.8em!important
}
.dropdown-menu li a
{
	color:#333!important;
	font-weight:400;
	display:block
}
.dropdown-menu li a:hover
{
	color:#e8554e!important
}
	ul#share-menu
{
	margin:10px 0;
	padding:5px 15px
}
.post-sharing
{
	margin:0 auto 20px;
	position:relative;
	text-align:center
}
.post-sharing a
{
	width:32px;
	height:32px;
	display:inline-block;
	line-height:34px;
	color:#fff!important;
	text-align:center;
	border-radius:100%
}
.post-sharing a:hover
{
	transform:rotate(360deg)
}
.post-share
{
	float:left;
	width:100%;
	padding-right:20px;
	padding-left:25px;
	margin:0 auto;
	text-align:center
}
.post-share li,.post-sharing li
{
	display:inline-block;
	font-size:14px
}
	ul.post-sharing:before
{
	content:'Compartilhar';
	display:block;
	margin-bottom:10px
}
.post-share li a
{
	position:relative;
	margin:0 0 0 1px;
	padding:4px 11px;
	line-height:2.2;
	font-weight:400;
	vertical-align:middle;
	color:#fff;
	font-size:13px;
	text-transform:uppercase;
	display:inline-block;
	transition:background-color .3s
}
.post-share .fa
{
	padding:0 5px 0 0;
	top:1px;
	font-size:14px;
	position:relative
}
.post-share ul
{
	list-style:none
}
.post-share ul li
{
	padding-bottom:3px;
	font-size:12px;
	font-family:'Karla',sans-serif;
	display:inline-block;
	margin-top:5px
}
.post-footer .post-share li a
{
	color:#fff
}
.post-sharing .facebook-share,a.facebook.df-share
{
	background-color:#3B5998
}
.post-sharing .twitter-share,a.twitter.df-share
{
	background-color:#00ACED
}
.post-sharing .google-share,a.google.df-pluss
{
	background-color:#D14836
}
.post-sharing .pinterest-share,a.pinterest.df-pinterest
{
	background-color:#CB2027
}
.post-share li a:hover
{
	color:#fff;
	background-color:#212026
}
	#subscribe-box p
{
	font-family:Helvetica,sans-serif;
	font-size:14px;
	color:#fff;
	margin:0 0 24px;
	padding:0
}
	#subscribe-box .emailfield
{
	margin:auto
}
	#subscribe-box .emailfield input
{
	padding:12px;
	color:#a5adb2;
	border:none;
	font-size:14px;
	margin-bottom:16px
}
	#subscribe-box .emailfield input:focus
{
	color:#454545;
	outline:none
}
	#subscribe-box .emailfield .submitbutton
{
	background-color:#30a8e6;
	color:#fff;
	margin:0;
	width:100%;
	font-family:'Playfair Display',serif;
	font-size:16px;
	font-weight:700;
	letter-spacing:.5px;
	box-shadow:0 1px rgba(0,0,0,0.1)
}
	#subscribe-box .emailfield .submitbutton:active,#subscribe-box .emailfield .submitbutton:hover
{
	background-color:#2c9bd5;
	color:#fff
}
.post-outer #subscribe-box
{
	background-color:#444;
	margin:0 0 30px;
	padding:20px;
	overflow:hidden
}
.post-outer #subscribe-box h4
{
	color:#fff;
	font-size:18px;
	margin-bottom:20px
}
.author-box
{
	overflow:hidden;
	background-color:#fff;
	font-size:16px;
	padding:20px;
	border-top:1px solid #f0f0f0
}
.author-box .avatar
{
	margin-right:20px;
	float:left
}
.author-box-title
{
	font-size:18px;
	margin-bottom:4px
}
.author-box p:last-child
{
	margin-bottom:0
}
.button
{
	list-style:none;
	text-align:center;
	border:0;
	margin:10px 0;
	clear:both;
	text-decoration:none
}
.button ul
{
	margin:0;
	padding:0
}
.button li
{
	display:inline;
	margin:0 3px;
	padding:0;
	list-style:none
}
.button li a.demo,.button li a.download
{
	position:relative;
	display:inline-block;
	vertical-align:top;
	height:36px;
	line-height:36px;
	padding:0 20px;
	font-size:13px;
	color:#fff;
	text-align:center;
	text-decoration:none;
	border-radius:2px;
	cursor:pointer
}
.button li a.demo
{
	background:#28a1e8
}
.button li a.download
{
	background:#f49d44
}
.button li a.demo:hover
{
	background-color:#1097e6;
	color:#fff
}
.button li a.download:hover
{
	background-color:#e7943f;
	color:#fff
}
.first-letter
{
	float:left;
	color:#30a8e6;
	font-size:75px;
	line-height:60px;
	padding-top:4px;
	padding-right:8px;
	padding-left:3px;
	font-family:Georgia
}
	#flippy
{
	text-align:center;
	margin:20px auto
}
	#flippy button
{
	position:relative;
	display:inline-block;
	vertical-align:top;
	height:36px;
	line-height:36px;
	padding:0 20px;
	font-size:13px;
	color:#fff;
	text-align:center;
	text-decoration:none;
	border-radius:2px;
	cursor:pointer;
	background:#e94e36;
	border:0
}
	#flippy button:hover,#flippy button:focus
{
	background:#d5452f;
	color:#fff;
	outline:none
}
	#flippanel
{
	padding:1px;
	text-align:left;
	background:#fafafa;
	border-radius:2px;
	padding:24px;
	display:none
}
	#flippanel img
{
	background:#f5f5f5;
	margin:10px auto
}
.bagitiga
{
	position:relative;
	display:block;
	-webkit-column-count:3;
	-moz-column-count:3;
	column-count:3
}
.bagitiga img
{
	-webkit-backface-visibility:hidden;
	margin-bottom:15px;
	max-width:100%
}
.bagitiga br
{
	display:none
}
.makesticking
{
	background:none!important;
	position:fixed!important;
	top:75px;
	z-index:99;
	-webkit-transform:translateZ(0)
}
.videoyoutube
{
	text-align:center;
	margin:auto;
	width:100%
}
.video-responsive
{
	position:relative;
	padding-bottom:56.25%;
	height:0;
	overflow:hidden
}
.video-responsive iframe
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	border:0
}
	#HTML96 .widget-content
{
	margin:auto
}
	code
{
	background:#fafafa;
	font-family:"Inconsolata","Monaco","Consolas","Andale Mono","Bitstream Vera Sans Mono","Courier New",Courier,monospace;
	display:block;
	padding:20px;
	overflow-x:auto;
	font-size:13px;
	line-height:19px;
	border-radius:3px
}
	#comments
{
	background:#fff;
	position:relative;
	padding:20px;
	box-shadow:0 0 0 1px rgba(0,0,0,.05)
}
	#comments h3
{
	font-size:24px
}
	#comments .click-comment
{
	position:absolute;
	right:20px;
	top:20px;
	font-size:14px;
	color:#999;
	padding:5px 10px;
	border:1px solid #f0f0f0;
	margin:0 0 10px
}
	#comments .click-comment:hover
{
	border-color:#74bef6;
	color:#4e99d2
}
	#comment_block
{
	margin:40px 0 0
}
.comment_avatar_wrap
{
	display:inline-block;
	float:left;
	width:48px;
	height:48px;
	border:none;
	background:none;
	padding:0;
	overflow:hidden
}
	#comments .comment_avatar,#comments .comment_admin .comment_avatar
{
	display:inline-block;
	width:48px;
	height:48px;
	float:left
}
	#comments .comment_avatar img,.comment_avatar img
{
	width:48px;
	height:48px;
	background:url(http://4.bp.blogspot.com/-hLqBXiTrm0Q/VJ7pie2jM3I/AAAAAAAABwI/aHQypgTLHu8/s1600/avatwisted.png)no-repeat;
	overflow:hidden
}
.comment_name a,.comment_child .comment_name a
{
	font-size:16px;
	font-weight:700
}
.comment_name a:hover,.comment_child .comment_name a:hover
{
	color:#454545
}
.comment_admin .comment_name,.comment_name
{
	display:inline-block;
	line-height:48px;
	font-size:16px
}
.comment_service
{
	position:relative
}
.item-control
{
	display:block
}
.comment_date
{
	float:right;
	line-height:48px
}
.comment_date a
{
	font-size:80%
}
.comment_date a:hover
{
	color:#30a8e6
}
.comment-delete
{
	position:absolute;
	display:inline-block;
	top:-2px;
	right:50px;
	color:#666!important;
	text-align:center;
	font-size:11px;
	padding:2px 6px;
	opacity:.9;
	transition:all .3s ease-out
}
.comment-delete:hover
{
	color:#f53b3b!important
}
.unneeded-paging-control,.comment_author_flag
{
	display:none
}
.comment_admin .comment_author_flag
{
	font-family:FontAwesome;
	display:inline-block;
	font-size:15px;
	font-weight:400;
	color:#7fa8f0;
	text-align:center;
	line-height:normal;
	margin-left:5px
}
.comment_body
{
	padding:20px;
	position:relative;
	line-height:normal;
	border:1px solid #f0f0f0
}
.comment_body p
{
	line-height:normal;
	padding:20px 0;
	position:relative;
	display:block;
	clear:both
}
.comment_body p img
{
	vertical-align:middle;
	margin:0
}
.comment_body p img.comment_emo
{
	vertical-align:middle;
	margin:0;
	box-shadow:none
}
.comment_child .comment_inner
{
	padding-left:5%
}
.comment_child .comment_body
{
	margin:0;
	border-top:0
}
	#comments .comment_child .comment_avatar,#comments .comment_child .comment_avatar img
{
	width:38px;
	height:38px;
	border-radius:50%
}
	#comments a.comment_reply
{
	background:#f97e76;
	float:right;
	text-align:center;
	margin:0;
	color:#fff;
	font-size:80%;
	padding:3px 6px
}
	#comments a.comment_reply:hover
{
	background:#333;
	color:#fff
}
.comment-form
{
	width:100%;
	max-width:100%;
	margin-bottom:10px;
	padding:0
}
.comment_form a
{
	text-decoration:none;
	text-transform:uppercase;
	font-weight:700;
	font-family:Arial,Helvetica,sans-serif;
	font-size:15px;
	color:#666
}
	#comment-editor
{
	width:103%!important;
	background:url(http://4.bp.blogspot.com/-jSUS8v5kwpQ/U8Z_6Ufr-PI/AAAAAAAAEYY/o4cQPKvt8vQ/s1600/loading.gif) no-repeat 50% 25%;
	position:relative;
	margin-left:-8px;
	margin-top:-15px
}
.comment-form p
{
	position:relative;
	font-size:14px;
	background:#ffe4ad;
	margin:20px 0;
	padding:20px;
	color:#686050;
	box-shadow:inset 0 0 0 5px #ebd099
}
.comment_reply_form
{
	padding:0
}
.comment_reply_form .comment-form
{
	width:100%
}
.comment_emo_list .item
{
	float:left;
	text-align:center;
	height:40px;
	width:41px;
	margin:0 0 10px
}
.comment_emo_list span
{
	display:block;
	font-weight:400;
	font-size:11px;
	letter-spacing:1px;
	color:#666
}
.comment_youtube
{
	max-width:100%!important;
	width:400px;
	height:225px;
	display:block;
	margin:auto
}
.comment_img
{
	max-width:100%!important
}
	#respond
{
	overflow:hidden;
	padding-left:10px;
	clear:both
}
.comment_body p.spammer-detected
{
	color:#fff;
	background:#ff3f56;
	padding:12px 15px;
	border-radius:0;
	box-shadow:0 0 0 3px #ff3f56;
	margin:20px 0;
	border:2px dashed #de374b
}
.comment_body p.spammer-detected:before,.comment_body p.spammer-detected:after
{
	display:none
}
.deleted-comment
{
	display:block;
	color:#fff;
	word-wrap:break-word;
	background:#a9b1b7;
	margin-top:10px;
	padding:10px;
	font-size:14px
}
	iframe
{
	border:none;
	overflow:hidden
}
.paging-control-container
{
	text-align:center;
	margin:0 0 0 25%
}
.paging-control-container a
{
	text-align:center;
	margin:0 auto;
	background:#666;
	padding:5px 10px;
	color:#fff;
	transition:all .3s ease-out
}
.paging-control-container a:hover
{
	background:#e6ae48;
	color:#fff
}
.comment_header,.comment_child .comment_header
{
	position:relative;
	float:left;
	padding:0;
	display:inline-block;
	margin-right:10px
}
.unneeded-paging-control,.comment-delete
{
	display:none
}
	img.comment_emo
{
	height:1.2em;
	width:1.2em;
	padding:0 .05em 0 .1em;
	vertical-align:-.1em
}
	#comment-holder .cm-youtube
{
	display:block;
	border:none!important;
	background-color:#333;
	width:450px;
	height:240px;
	margin:0 auto 30px
}
	#comment-holder .cm-image
{
	display:block;
	margin:0 auto 15px;
	outline:none;
	border:1px solid #ccc;
	background-color:#fff;
	box-shadow:0 1px 3px rgba(0,0,0,.2);
	padding:5px;
	max-width:96%;
	height:auto;
	width:auto
}
	#comment-holder code,#comment-holder i[rel="code"]
{
	font:normal 12px Monaco,"Courier New",Monospace
}
	#comment-holder pre,#comment-holder i[rel="pre"]
{
	display:block;
	font:normal 12px Monaco,"Courier New",Monospace;
	padding:0;
	word-wrap:normal;
	white-space:pre;
	overflow:auto;
	white-space:pre-wrap;
	white-space:-moz-pre-wrap;
	white-space:-pre-wrap;
	white-space:-o-pre-wrap;
	word-wrap:break-word
}
	#comment-holder i[rel="image"],#comment-holder i[rel="youtube"]
{
	display:block;
	overflow:hidden;
	border:2px solid #000;
	position:relative;
	width:170px;
	height:100px;
	margin:0 auto 30px
}
	#comment-holder i[rel="image"]:before,#comment-holder i[rel="youtube"]:before
{
	content:"Please enable your JavaScript to see this image!";
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-color:red;
	color:#fff;
	font-weight:700;
	text-align:center;
	padding:15px 0
}
	#comment-holder i[rel="youtube"]:before
{
	content:"Please enable your JavaScript to watch this video!"
}
.comment_body p i
{
	font-style:normal;
	-webkit-user-select:text;
	-khtml-user-select:text;
	-moz-user-select:text;
	-ms-user-select:text;
	user-select:text
}
	#comments pre
{
	padding:0
}
.blog-pager,#blog-pager
{
	clear:both;
	margin:0
}
	#blog-pager a.blog-pager-older-link,#blog-pager a.blog-pager-newer-link
{
	background-color:#fff;
	color:#999;
	padding:6px 10px;
	position:fixed;
	bottom:-58px;
	z-index:1000;
	transition:all .4s
}
	#blog-pager a.blog-pager-older-link
{
	right:0
}
	#blog-pager a.blog-pager-newer-link
{
	left:0
}
	#blog-pager a.home-link
{
	visibility:hidden
}
	#blog-pager .blog-pager-older-link h6,#blog-pager .blog-pager-newer-link h6
{
	position:relative;
	color:#999;
	font-size:25px;
	font-weight:400;
	margin:0;
	transition:all .4s
}
	#blog-pager .blog-pager-older-link:hover,#blog-pager .blog-pager-newer-link:hover
{
	background-color:#303030;
	color:#fff
}
	#blog-pager .blog-pager-older-link:hover h6,#blog-pager .blog-pager-newer-link:hover h6
{
	color:#fff
}
	#blog-pager .blog-pager-newer-link h6:before
{
	content:'\f104';
	font-family:fontawesome
}
	#blog-pager .blog-pager-older-link h6:before
{
	content:'\f105';
	font-family:fontawesome
}
	#blog-pager .blog-pager-older-link h7,#blog-pager .blog-pager-newer-link h7.new
{
	position:fixed;
	background-color:#222b31;
	padding:7px 10px 4px;
	font-size:14px;
	
}